In [113]:
# Import librarys
import pandas as pd
import numpy as np

In [114]:
def tidy(df):
    
    #### Fix usual issues with all strings
    
    # Capitalise columns
    df = df.map(lambda x: x.upper() if type(x) is str else x)

    # Strip whitespace
    df = df.map(lambda x: x.strip() if type(x) is str else x)

    # Remove parenthesis
    df = df.map(lambda x: x.replace('(', '') if type(x) is str else x)
    df = df.map(lambda x: x.replace(')', '') if type(x) is str else x)
    
    # Remove linebreaks
    df = df.map(lambda x: x.replace('\n', '') if type(x) is str else x)

    # Replace annoying substrings
    df = df.map(lambda x: x.replace(' AND ', ' & ') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' – ', ' - ') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' / ', '/') if type(x) is str else x)
    df = df.map(lambda x: x.replace('/ ', '/') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' /', '/') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' - ', '-') if type(x) is str else x)
    
    # To help with splitting strings
    df = df.map(lambda x: x.replace(';', ',') if type(x) is str else x)
    
    return df

In [115]:
# Define tidy up initial df
def tidy(df):
    
    #### Fix usual issues with all strings
    
    # Capitalise columns
    df = df.map(lambda x: x.upper() if type(x) is str else x)

    # Strip whitespace
    df = df.map(lambda x: x.strip() if type(x) is str else x)

    # Remove parenthesis
    df = df.map(lambda x: x.replace('(', '') if type(x) is str else x)
    df = df.map(lambda x: x.replace(')', '') if type(x) is str else x)
    
    # Remove linebreaks
    df = df.map(lambda x: x.replace('\n', '') if type(x) is str else x)

    # Replace annoying substrings
    df = df.map(lambda x: x.replace(' AND ', ' & ') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' – ', ' - ') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' / ', '/') if type(x) is str else x)
    df = df.map(lambda x: x.replace('/ ', '/') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' /', '/') if type(x) is str else x)
    
    # Capitalise headers
    df.columns = df.columns.astype(str).str.upper()

    # Remove parenthesis from column headers
    df.columns = df.columns.map(lambda x: x.replace('(', '') if type(x) is str else x)
    df.columns = df.columns.map(lambda x: x.replace(')', '') if type(x) is str else x)
    
    # Strip whitespace from headers
    df.columns = df.columns.map(lambda x: x.strip() if type(x) is str else x)

    return df

In [116]:
# Read in csv
raw = pd.read_excel('./data/FOI 24 25 Review 01 Records_updated.xlsx', skiprows=2)

In [117]:
# Create working df
df = raw

# Tidy df
df = tidy(df)

# Rename columns
df = df.rename(columns = {'REGISTRATION STATUS':'STATUS', 'LAST KNOWN EMPLOYER':'EMPLOYER'})

df.head()

,SEX,STATUS,QUALIFICATIONS,EMPLOYER
0,FEMALE,FULL GENERAL,FURTHER EDUCATION FE,FURTHER EDUCATION SECTOR
1,MALE,FULL GENERAL,SECONDARY EDUCATION TECHNOLOGICAL EDUCATION,LOCAL AUTHORITY
2,MALE,FULL GENERAL,SECONDARY EDUCATION TECHNOLOGICAL EDUCATION,LOCAL AUTHORITY
3,MALE,FULL GENERAL,SECONDARY EDUCATION TECHNOLOGICAL EDUCATION,LOCAL AUTHORITY
4,FEMALE,FULL GENERAL,SECONDARY EDUCATION TECHNOLOGICAL EDUCATION,LOCAL AUTHORITY

## Reduce file size (starting from 6.1 mb)

In [118]:
# Shorten sex column
df['SEX'] = df['SEX'].str.replace('FEMALE', 'F')
df['SEX'] = df['SEX'].str.replace('MALE', 'M')
df['SEX'] = df['SEX'].str.replace('PREFER NOT TO SAY', 'X')

# Shorten status column
df['STATUS'] = df['STATUS'].str.replace('FULL ASSOCIATE', 'ASSOCIATE')
df['STATUS'] = df['STATUS'].str.replace('FULL GENERAL', 'FULL')
df['STATUS'] = df['STATUS'].str.replace('PROVISIONAL', 'PROVISIONAL')

# Shorten qualification column+
df['EMPLOYER'] = df['EMPLOYER'].str.replace('FURTHER EDUCATION SECTOR', 'FURTHER')
df['EMPLOYER'] = df['EMPLOYER'].str.replace('LOCAL AUTHORITY', 'LEA')
df['EMPLOYER'] = df['EMPLOYER'].str.replace('INDEPENDENT SCHOOLS', 'IND')
df['EMPLOYER'] = df['EMPLOYER'].str.replace('NOT CURRENTLY WORKING', 'NA')

In [119]:
# # Shorten qualification column
# df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('FURTHER EDUCATION FE', 'FURTHER')
# df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('SECONDARY EDUCATION', 'SEC - ')
# df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('PRIMARY EDUCATION', 'PRI - ')
# df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('CROSS SECTOR', 'CRS - ')
# df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('NAMED SCHOOL ONLY', 'NSO')

# Shorten more in qualification column
df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('TECHNOLOGICAL EDUCATION', 'TECH')
df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('TECHNICAL EDUCATION', 'TECH')
df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('PHYSICAL EDUCATION', 'PE')
df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('BUSINESS EDUCATION', 'BUSINESS')
df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('BUSINESS STUDIES', 'BUSINESS')
df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('RELIGIOUS EDUCATION', 'RE')
df['QUALIFICATIONS'] = df['QUALIFICATIONS'].str.replace('ASN 3-18 ADDITIONAL SUPPORT NEEDS', '3-18 ASN')

# Strip whitespace
df = df.map(lambda x: x.strip() if type(x) is str else x)

In [120]:
# Sort columns
df = df.sort_values(by=['QUALIFICATIONS', 'STATUS', 'EMPLOYER', 'SEX'])

In [121]:
df.head()

      SEX     STATUS QUALIFICATIONS EMPLOYER
46015   F  ASSOCIATE       3-18 ASN    OTHER
52902   F       FULL       3-18 ASN  FURTHER
29230   F       FULL       3-18 ASN      IND
34148   F       FULL       3-18 ASN      IND
45835   F       FULL       3-18 ASN      IND

In [122]:
df.to_csv('./csvs/gtcs.csv', index=False)