In [ ]:
# Import librarys
import pandas as pd
import numpy as np

In [ ]:
def tidy(df):
    
    #### Fix usual issues with all strings
    
    # Capitalise columns
    df = df.map(lambda x: x.upper() if type(x) is str else x)

    # Strip whitespace
    df = df.map(lambda x: x.strip() if type(x) is str else x)

    # Remove parenthesis
    df = df.map(lambda x: x.replace('(', '') if type(x) is str else x)
    df = df.map(lambda x: x.replace(')', '') if type(x) is str else x)
    
    # Remove linebreaks
    df = df.map(lambda x: x.replace('\n', '') if type(x) is str else x)

    # Replace annoying substrings
    df = df.map(lambda x: x.replace(' AND ', ' & ') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' â€“ ', ' - ') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' / ', '/') if type(x) is str else x)
    df = df.map(lambda x: x.replace('/ ', '/') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' /', '/') if type(x) is str else x)
    df = df.map(lambda x: x.replace(' - ', '-') if type(x) is str else x)
    
    # To help with splitting strings
    df = df.map(lambda x: x.replace(';', ',') if type(x) is str else x)
    
    return df

In [ ]:
# Read in csv
raw = pd.read_excel('./data/FOI 24 25 Review 01 Records.xlsx', skiprows=2)

In [ ]:
# Create working df
df = raw

# Tidy df
df = tidy(df)

# Rename columns
df = df.rename(columns = {'Registration Status':'Status', 'Last Known Employer':'Employer'})

df.head()

In [ ]:
# Drop rows with NaN in Qualification(s) column
df = df.dropna(subset=['Qualification(s)'])

# Define function to return level by looking through Qualification(s) column cells
def level(row):
    
    # Create empty list
    id = []
    
    # Append to list if string contains SECONDARY EDUCATION etc.
    if 'SECONDARY EDUCATION' in row['Qualification(s)']:
        id.append('SECONDARY')
    
    if 'PRIMARY EDUCATION' in row['Qualification(s)']:
        id.append('PRIMARY')

    if 'FURTHER EDUCATION' in row['Qualification(s)']:
        id.append('FE')
        
    if '3-18' in row['Qualification(s)']:
        id.append('3-18')
        
    if 'NAMED SCHOOL ONLY' in row['Qualification(s)']:
        id.append('NSO')
        
    if 'TEACHER EDUCATION INSTITUTION' in row['Qualification(s)']:
        id.append('ITT')

    if 'CROSS SECTOR' in row['Qualification(s)']:
        id.append('CRS')
                
    # If length of list is longer that 1 then return 'MULTI' for mulitple levels
    if len(id) > 0:
    
        if len(id) > 1:
            return 'MULTI'
        
        # Else return level as string
        else:
            return ''.join(id)
    
    # Else return level as OTHER
    else:
        return 'OTHER'

# Apply function to each row
df['Level'] = df.apply(lambda row: level(row), axis=1)

df.head()

In [ ]:
# Troubleshooting code to check dtypes

#df.to_csv('./csvs/gtcs.csv', index=False)

# df['type'] = df['Qualification(s)'].apply(lambda x: type(x).__name__)
# df['type'].value_counts()

# df.describe(include='all')

# df.info()

In [ ]:
# Tidy up Sex column
df['Sex'] = df['Sex'].str.replace('FEMALE', 'F')
df['Sex'] = df['Sex'].str.replace('MALE', 'M')
df['Sex'] = df['Sex'].str.replace('PREFER NOT TO SAY', 'X')

# Tidy up Status column
df['Status'] = df['Status'].str.replace('FULL ASSOCIATE', 'ASSO')
df['Status'] = df['Status'].str.replace('FULL GENERAL', 'FULL')
df['Status'] = df['Status'].str.replace('PROVISIONAL', 'PROV')

# Tidy up Qualification column
df['Qualification(s)'] = df['Qualification(s)'].str.replace('SECONDARY EDUCATION', '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('SECONDARY', '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('PRIMARY EDUCATION', '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('FURTHER EDUCATION FE', 'FE')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('SECONDARY SCHOOL', 'SECONDARY')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('PRIMARY SCHOOL', 'PRIMARY')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('TRANSITION PRIMARY - SECONDARY', 'TRAN-PRI-SEC')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('CROSS SECTOR PRI-SEC', '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('CROSS SECTOR FE-SEC', '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('CROSS SECTOR FE-PRI', '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('CROSS SECTOR SEC-PRI', '')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('S E N', 'SEN')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('S F L', 'SFL')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('SUPPORT FOR LEARNING', 'SFL')
                                                                  
df['Qualification(s)'] = df['Qualification(s)'].str.replace('SCIENCE GENERAL', 'SCIENCE')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('COMPUTING SCIENCE', 'COMPUTING')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('WITH SCIENCE', '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('TECHNOLOGICAL EDUCATION', 'TECHNOLOGICAL')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('TECHNICAL EDUCATION', 'TECHNICAL')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('PHYSICAL EDUCATION', 'PE')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('PHYSICAL ED.', 'PE')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('BUSINESS EDUCATION', 'BUSINESS')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('RELIGIOUS EDUCATION', 'RE')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('HOME ECONOMICS', 'HE')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('CLASSICS CLASSICAL STUDIES', 'CLASSICS')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('-ENGLISH', 'ENGLISH')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('GEN. SCIENCE', 'SCIENCE')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('COMM LANGUAGES', 'COMMUNITY LANGUAGES')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('MODERN LANGUAGES-', '')

df['Qualification(s)'] = df['Qualification(s)'].str.replace(
                            'TEACHER EDUCATION INSTITUTION TEACHER EDUCATION INSTITUTION',
                                'TEACHER EDUCATION INSTITUTION')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('NAMED SCHOOL ONLY NAMED SCHOOL ONLY',
                                                            '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('NAMED SCHOOL ONLY NSO',
                                                            '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('NAMED SCHOOL ONLY',
                                                            '')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('NSO', '')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('DANCE 3-18 DANCE', '3-18 DANCE')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('ASN 3-18 ADDITIONAL SUPPORT NEEDS', '3-18 ASN')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('TESOL 3-18 TESOL', '3-18 TESOL')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('SPEECH &DRAMA', 'SPEECH & DRAMA')
df['Qualification(s)'] = df['Qualification(s)'].str.replace('DANCE 3-18 COMMUNITY LANGUAGES-POLISH',
                                                            'DANCE 3-18, COMMUNITY LANGUAGES-POLISH')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('3-18', '')

df['Qualification(s)'] = df['Qualification(s)'].str.replace('PHYSICAL SCIENCE', 'PHYSICS')

# Tidy up Qualification column
df['Employer'] = df['Employer'].str.replace('FURTHER EDUCATION SECTOR', 'FE')
df['Employer'] = df['Employer'].str.replace('LOCAL AUTHORITY', 'LEA')
df['Employer'] = df['Employer'].str.replace('INDEPENDENT SCHOOLS', 'IND')
df['Employer'] = df['Employer'].str.replace('NOT CURRENTLY WORKING', 'NA')

# Split up Qualification column into 9 columns (using commas)
df[['1', '2', '3', '4', '5', '6', '7', '8', '9']] = df['Qualification(s)'].str.split(',', n=8,expand=True)

# Drop orginal qualification column
df = df.drop('Qualification(s)', axis=1)

# Strip whitespace again
df = df.map(lambda x: x.strip() if type(x) is str else x)

# Add ID number to each row
df = df.assign(ID=range(len(df)))

df.head()

In [ ]:
# Create list of columns to melt
val = ['1', '2', '3', '4', '5', '6', '7', '8', '9']

# Convert data into long format
ldf = pd.melt(df, id_vars=['ID', 'Sex', 'Status', 'Employer', 'Level'], value_vars=val,
             var_name='QualNum', value_name='Subject')

# Drop rows with NaN in Subject column
ldf = ldf.dropna(subset=['Subject'])

# Sort values 
ldf = ldf.sort_values(by=['Sex', 'Status', 'Level', 'QualNum', 'Subject'])

In [ ]:
ldf.head()

In [ ]:
# Export to csv
ldf.to_csv('./csvs/gtcs.csv', index=False)

In [ ]:
ldf.info()